 .anunciosFoto{
   float: center;
   width: 181px;
   height: 100px;
 }

 .informacionPagina{
 	padding-top: 100px; 
 }

 body{
 	opacity : 10;
 	background-image: url(fondo.jpg);
 }

 .card{
 	background-color: #FFF8DC;
 }