.leaderboardEquipo{
     font-size: 20px;
     float: center;
     padding-top: 20%;
     padding-left: 20%;
 }
 
  .leaderboardJugador{
     font-size: 20px;
     float: center;
     padding-top: 20%;
     padding-left: 20%;
 }
 
 .equipos{
     
 }
 .integrantes{
     
 }
 


body{
   background-image: url(fondo.jpg); 
}
