.leaderboardEquipo{
     font-size: 20px;
     padding-top: 5%;
     padding-left: 5%;
 }
 
  .leaderboardJugador{
     font-size: 20px;
     padding-top: 5%;
     padding-left: 5%;
 }

h2{
    border-left: 6px solid #DEB887;
    background-color: #FAEBD7;

} 
.leaderboardEquipo{
    background-color: #FFF8DC;
    border: 5px solid grey;   
}

.leaderboardJugador{
    background-color: #FFF8DC;
    border: 5px solid grey;
}

body{
  background-image: url(fondo.jpg)
}