.leaderboardEquipo{
     font-size: 20px;
     float: center;
     padding-top: 20%;
     padding-left: 20%;
 }
 
  .leaderboardJugador{
     font-size: 20px;
     float: center;
     padding-top: 20%;
     padding-left: 20%;
 }
 
 .equipos{
     
 }
 .integrantes{
     
 }
 
 .equipoLogo{
   float: center;
   padding-left: 20%;
 }

 .integranteFoto{
   float: center;
   padding-left: 20%;
 }
 
 .infoIntegrante{
 }
 
 .anunciosFoto{
   float: center;
   width: 200px;
   height: 100px;
 }

