 .equipoLogo{
   float: center;
   padding-left: 20%;
 }

 .integranteFoto{
   float: center;
   padding-left: 20%;
}
 
 .infoIntegrante{
 }
 
 .anunciosFoto{
   float: center;
   width: 200px;
   height: 100px;
 }
 
.equipoCSS {
    background: lightblue;
}

.logo {
    width:300px;
    height:200px;
}

.informacionParticipantes{
  padding-top: 100px;
}

.titulos {
    border-left: 6px solid red;
    background-color: lightgrey;
  }

.tablaInformacion{
  background-color: white;
}

body{
  background-image: url(fondo.jpg)
}