.informacionFixture{
	padding-top: 100px;
}

h2, h3{
    border-left: 6px solid #DEB887;
    background-color: #FAEBD7;
    margin: 5px;

} 

 table{
 	border: 1px solid black;
 }

.tabla {
  border: 3px solid black;
  width: 100%;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}

th, tr {
  border: 3px solid black;
}

body{
   background-image: url(fondo.jpg); 
}
.tablaColor{
    background-color: #FFF8DC; 
}