{% extends 'layout.twig' %}
{% block body %}
<link href="/stylesheets/anuncios.css" rel="stylesheet">
{% include "menuEstilo1.twig" %}     
<div class="informacionPagina">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                     <div class="card" style="width: 18rem;">
                     <img class="anunciosFoto" src="images/noticia1.png" alt="Noticia 1">
                     <div class="card-body">
                         <h5 class="card-title"><b>Hearthstone</b></h5>
                         <p class="card-text">El Bosque Embrujado te ofrecerá nuevas tácticas en Hearthstone.</p>
                         <a href="https://www.levelup.com/noticias/468427/El-Bosque-Embrujado-te-ofrecera-nuevas-tacticas-en-Hearthstone" class="btn btn-primary">Visitar</a>
                    </div>
                </div>
            </div>
             <div class="col-sm-4">
                     <div class="card" style="width: 18rem;">
                     <img class="anunciosFoto" src="images/noticia2.png" alt="Noticia 2">
                     <div class="card-body">
                         <h5 class="card-title"><b>Hearthstone</b></h5>
                         <p class="card-text">Ya están de regreso las partidas clasificadas de Hearthstone.</p>
                         <a href="http://www.levelup.com/noticias/466163/Ya-estan-de-regreso-las-partidas-clasificadas-de-Hearthstone" class="btn btn-primary">Visitar</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                     <div class="card" style="width: 18rem;">
                     <img class="anunciosFoto" src="images/noticia3.png" alt="Noticia 3">
                     <div class="card-body">
                         <h5 class="card-title"><b>Hearthstone</b></h5>
                         <p class="card-text">‘Witchwood Legendary Reveals: Emeriss and Darius Crowley</p>
                         <a href="http://www.newsweek.com/hearthstone-emeriss-darius-crowley-866158" class="btn btn-primary">Visitar</a>
                    </div>
                </div>
            </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-4">
                     <div class="card" style="width: 18rem;">
                     <img class="anunciosFoto" src="images/noticia4.png" alt="Noticia 4" >
                     <div class="card-body">
                         <h5 class="card-title"><b>Hearthstone</b></h5>
                         <p class="card-text">Hearthstone estrena el bosque embrujado</p>
                         <a href="http://los40.com/los40/2018/03/22/videojuegos/1521758540_512601.html" class="btn btn-primary">Visitar</a>
                    </div>
                </div>
            </div>
             <div class="col-sm-4">
                     <div class="card" style="width: 18rem;">
                     <img class="anunciosFoto" src="images/noticia5.png" alt="Noticia 5">
                     <div class="card-body">
                         <h5 class="card-title"><b>Hearthstone</b></h5>
                         <p class="card-text">Hearthstone celebra en grande el aniversario de StarCraft.</p>
                         <a href="https://www.levelup.com/noticias/469327/Hearthstone-celebra-en-grande-el-aniversario-de-StarCraft" class="btn btn-primary">Visitar</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                     <div class="card" style="width: 18rem;">
                     <img class="anunciosFoto" src="images/noticia6.png" alt="Noticia 6">
                     <div class="card-body">
                         <h5 class="card-title"><b>Hearthstone</b></h5>
                          <p class="card-text">'Hearthstone' Players Earn Free Packs Starting Today.</p>
                         <a href=https://www.forbes.com/sites/hnewman/2018/03/27/hearthstone-players-earn-free-decks-starting-today/#64e696ec14cf class="btn btn-primary">Visitar</a>
                    </div>
            </div>
            </div>
        </div>
        </div>   
{% endblock %}

