{% extends 'layout.twig' %}
{% block body %}
<div id="headerEstilo1" class="container-fluid">
    <div class="row sect">  
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sect">
            <div class="imagenPortada" > 
                <img id="imgPortada" src="images/logo.png" class="imagenPortada"  alt="Imagen portada" style="width:100%;">
            </div>
        </div>
    </div>
</div>    
<div class="row" style="width:100%;">
    <div class="col-sm-6" >
        <img class="logoTorneo" src="images/logoTorneo.png" alt="Imagen logo" >
    </div>
    <div class="col-sm-6">
        <iframe 
            src= "https://www.youtube.com/embed/Pb_eIQIxVoE" class= "video">
        </iframe>
    </div>
</div>
<hr>        
<hr>
<div class="row" id="descripcion">
    <div class="col-sm-12">
        <div id="parrafo">
            <p  class= "fondoColor">
            Cuando el Rey Exánime y la Plaga de los no-muertos amenazaban el mundo, la Cruzada Argenta invocó a los héroes más poderosos de Azeroth para que probaran su valía en un torneo magnífico. Caballeros de todas las razas acudieron a Rasganorte y se midieron en batallas épicas contra monstruos temibles. Aunque la maldad del Rey Exánime ha desaparecido, el Gran Torneo continúa... solo que ahora la atmósfera de competición es un poco más divertida.<br><br>
            ¿Y por qué el espectáculo no debería continuar? Caballeros con sed de gloria llegan a tropel desde todos los rincones del mundo, deseosos de probar su temple y ganarse el honor de pintar el cielo con sus estandartes en el nombre de la victoria.<br><br>
            ¿Quién se alzará con la victoria en El Gran Torneo? Tú y tus amigos, ¡claro!
            </p>
        </div>
    </div>
</div>
<hr>
{% endblock %}


