  <!-- Menu vertical- estilo 2 -->
  <div id="menuEstilo2">
 <div class="sidenav">
  <a href="index">Inicio</a>
  <a href="informacion">Informacion</a>
  <a href="fixture">Fixture</a>
  <a href="participantes">Participantes</a>
  <a href="leaderboard">Leaderboard</a>
  <a href="anuncios">Anuncios</a>
  <a href="login">Login</a>
  <button class="dropdown-btn">Estilos 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a id= "e1">Estilo 1</a>
    <a id= "e2">Estilo 2</a>
  </div>
</div>
</div>