  <div id="headerEstilo1" class="container-fluid">
            <div class="row sect">  
               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sect">
                    <div class="imagenPortada" > 
                        <img id="imgPortada" src="images/logo.png" class="imagenPortada"  alt="Imagen portada" style="width:100%;">
                    </div>
             </div>
           </div>
  </div>