<div class="row" style="width:100%;">
                <div class="col-sm-6" >
                  <img class="logoTorneo" src="images/logoTorneo.png" alt="Imagen logo" >
                    </div>
        <div class="col-sm-6">
                <iframe 
                src= "https://www.youtube.com/embed/Pb_eIQIxVoE" class= "video">
                </iframe>
            </div>
        </div>
        <hr>